.Comment > .Username {
    font-weight: 800;
    font-size: 1.6rem;
}

.Comment {
    font-size: 1.4rem;
    margin: 1rem 0;
    padding-left: 2rem;
    letter-spacing: 1.1px;
}


.Comment .Delete {
    background-color: darkred;
    color: white;
    padding: 2px 4px;
    margin-left: 8px;
    border-radius: 4px;
    position: relative;
    display: none;
}
.Comment .Delete:hover {
    cursor: pointer;
}
.Comment .Delete::after {
    content: '';
    position: absolute;
    left: -2px;
    top: 6px;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    background-color: darkred;
    display: block;
    z-index: -1;
}

.Comment .Delete.Show {
    display: inline;
}