.ProfileHolder img {
    border-radius: 50%;
    /* transform: scale(.2); */
    height: 32px;
    width: 32px;
}
.ProfileHolder {
    display: flex;
    align-items: center;
    width: 64rem;
    margin: 0 auto;
    padding: 1.6rem;
}
.ProfileHolder > h2 {
    height: 20px;
    margin-left: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
}